body{
	font-family: "Times new roman", serif;
	font-size:1em;
	/*background-image:url('pics/SPIIK.png');
	background-repeat: no-repeat;*/
	margin:auto;
	width:100%;
}

.time:first-letter{
	text-transform: capitalize;
}

h1{
	font-family: 'Cutive Mono', serif;
	font-size: 3.1em;
	color: #FFF;	text-shadow: 3px 3px #000;
	margin: auto;
	padding-left: 10%;
	padding-bottom: 5%;
	margin-top:-20%;
	width:90%;
	text-align:center;
}

#header{
	
	background-color: #b02129;
}

#wrapper{
	width:100%;
	margin:auto;
}

#content{
	font-size: 1.2em;
	padding:1%;
}

h2{
	font-size:1.4em;
}

#logga{
	width: 11%;
	margin-top: 3%;
	margin-left: 2%;
	margin-bottom:12%;
}

input{
	margin:1% 1% 1% 0;
}

#footer{
	font-size: 1.2em;
	padding: 1%;
	/*position:absolute;
	top:92%;*/
}
